*{ margin:0px; padding:0px; box-sizing: border-box;}
body{color:#000;font-family: Arial; margin:0px; padding:0px; box-sizing: border-box;}
.divOuter {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .divOuter {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .divOuter {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .divOuter {
      width: 1170px;
    }
  }
  @media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-10,
    .col-sm-9,
    .col-sm-11,
    .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
  }
@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
  }
  .divFormRow {
    margin-right: -15px;
    margin-left: -15px;
  }
  .divFormRow:after
    {
        content: "";
        clear: both;
        display: table;
    }

  .btn{padding:15px 40px;font-size: 16px;font-weight: bold; border-radius:4px;}
  .btn:hover{box-shadow: 0px 9px 9.5px 0.5px rgba(0, 0, 0, 0.2)}
   .bgYellow{color:#53627c;background-color: #ffc600;}
   .btn-yellow{border: 1px solid #ffc600;color:#53627c;background-color: #ffc600;}
   .btn-SkyBlue{background-color: #4cbcfe; border: 1px solid #4cbcfe; color:#fff;}
   .btn-find{padding: 12px 10px; margin-top: 20px; width:100%;}
   .bgGray{background-color:#f4f6fa;}
   .bgWhite{background-color: #fff;}
   .greyInput{background: #f4f6fa !important;}
   .padd1510{padding: 15px 10px;}
   .posRel{position: relative;}
  .txtBlue{color:#4e6cff;}
  .txtLeft{text-align: left;}
  .txtRight{text-align: right;}
  .txtCenter{text-align: center;}
  .txtInput{display: block;  width: 100%;height: 48px; padding: 6px 12px; font-size: 14px;line-height: 1.42857143;color: #555; background-color: #fff;
    background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
  .lblSrch{font-size: 10px; margin-bottom:5px;font-weight: bold;display: inline-block;}
  .secHead{background-color: #f4f8fd;padding:20px;padding-top:40px;}
  .divForm{}
  .divSrch{width: 80%; margin: 40px auto;border-radius: 4px;box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.08);max-width: 1200px;}
  .secInfo{background-color: #e9f3ff; padding:35px;}
  .headInfo{font-size: 24px;color:#53627c;margin-bottom: 5px; margin-top:0px;}
  .headSub{font-size:15px;color:#75808b;}
  .headCnt{font-size: 24px; color:#53627c; font-weight: bold; margin:0px;}
  .subCnt{color:#53627c;font-size:15px;font-weight: normal;}
  .pad40{padding:40px;}
  .cntPara{font-size:15px;color: #75808b;width:313px;margin-top:30px; margin-bottom:30px;line-height: 21px;}
  .maskImg{padding: 30px;box-shadow: 0px 7px 14.6px 1.4px rgba(0, 0, 0, 0.16), inset 0px 1px 1px 0 #ffffff;
    background-color: #ffffff;  border-radius: 4px; position: relative;}
  .playIcon{position: absolute;top: 40%;  left: 40%; color: #53627c;}
 .badge{display:inline-block;color:#53627c;font-size:12px;background-color:#f4f6fa; border-radius: 15px;
  margin: 5px 4px;padding:10px;width:160px; text-align: left;margin-right: 5px;}
.cardImg{position: relative;}
.imgOverLayer{background-color:rgba(0, 0, 0, 0.08);top:0px;position: absolute;width:100%; height: 100%;
  background: rgba(255,255,255,1);
 background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
 background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.53)), color-stop(100%, rgba(237,237,237,0)));
 background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
 background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
 background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
 background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.ml10{margin-left:10px;}
.mt20{margin-top: 20px;}
.pd10{padding: 10px;}
.pd20{padding: 20px;}
.card{background: #fff;}
.imgRes{max-width: 100%;  height: auto; width:100%;}
.cardBody{padding: 0px 20px 20px;}
.cardTitle{font-size:24px; font-weight: bold;margin-bottom:20px;color:#53627c;margin-top: 0px;}
.cardInfo{text-align: left; color: #75808b; font-size: 15px; line-height: 21px; margin-bottom:20px;}
.infoPara{font-size: 10px;color:#a2adb8;line-height: 20px; text-align: center;margin: 20px 0px;}
footer{background-color: #53627c;padding:25px; color: #fff;}
.footerPara{font-size: 12px; text-align: right;color:#dde0e9;}
::placeholder {  color: #53627c;  opacity: 1; }
.scrolltop {display:none;	width:100%;	margin:0 auto;	position:fixed;	bottom:20px;	right:10px;}
.scroll {	position:absolute;	right:20px;	bottom:20px;	background:#b2b2b2;	background:rgba(178,178,178,0.7);	padding:20px;
	text-align: center;	margin: 0 0 0 0;	cursor:pointer;	transition: 0.5s;	-moz-transition: 0.5s;	-webkit-transition: 0.5s;	-o-transition: 0.5s;
}
.scroll:hover {	background:rgba(178,178,178,1.0);	transition: 0.5s;	-moz-transition: 0.5s;	-webkit-transition: 0.5s;	-o-transition: 0.5s;}
.scroll:hover .fa {	padding-top:-10px;}
.scroll .fa {	font-size:30px;	margin-top:-5px;	margin-left:1px;	transition: 0.5s;	-moz-transition: 0.5s;	-webkit-transition: 0.5s;	-o-transition: 0.5s;}

:-ms-input-placeholder {  color: #53627c;}
::-ms-input-placeholder {  color: #53627c;}
.modal { display: none;  position: fixed;  z-index: 1;padding-top: 100px;left: 0; top: 0;width: 100%;
  height: 100%;overflow: auto; background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);
}
.modal-content {background-color: #fefefe;margin: auto;padding: 20px; border: 1px solid #888;width:300px;float: right;}
.close {color: #aaaaaa; float: right;font-size: 28px; font-weight: bold;margin-top: -10px;}
.close:hover,
.close:focus { color: #000;text-decoration: none; cursor: pointer;
}

@media screen and (max-width: 1194px) and (min-width: 768px) {
  .width50pc{width:50%}
  .width100pc{width:100%; text-align: center;}
  .btn-find{width:auto;margin-top: 0px;}
}
@media (max-width:992px){
  .footerPara{text-align: center;margin: 10px auto;}
  .footerImg{text-align: center;}
  .cnter768{text-align: center;}
  .cntPara{margin:30px auto;}
  .divMAsk{text-align: center;}

}
  @media (max-width: 768px){
    .btn-find{width:auto;margin-top: 0px;}
    .width100pc{width:100%; text-align: center;}

  }
}

/*Browser specific*/

/*This will work for chrome */
.modal-content
{
    float:right;
    width:300px;
}
/*This will work for firefox*/
@-moz-document url-prefix() {
    .modal-content{
        float:left
    }
}
